// $color:red;
// body{
//     background: $color;
// }
@import 'common.scss';
$h2:"height";
#container{
    h2{
        color: green;
        #{$h2}:100px;
    }
    p{
        color: red;
        // padding-top: 30px;
        // padding-bottom: 30px;
        padding:{
            top:20px;
            bottom:20px;
        };
    }
    a{
        color: blue;
        &:hover{
            color: burlywood;
        }
    }
    #div1{
        @include arrow(30px,pink,'left');
    }
    
}
/*
    为什么在继承的后面加代码,css好使，但是页面就不好
    为什么common是null？
*/
.div1{
    width: 100px;
    height: 100px;
    background-color: red;
}
.div2{
    @extend .div1;
    // background-color: gray;
    color: #fff;
}

@for $i from 1 through 5{
    .icon#{$i}{
        width: 20*$i;
    }
}

@for $i from 1 to 5{
    .btn#{$i}{
        width: 20*$i;
    }
}

$list:sad dad dad;
@each $var in $list {
    .#{$var}{
        height: 100px;
    }
}

